dist/
git-town.exe
git-town_*
go.work.sum
node_modules/
rta.exe
tools/alphavet*
tools/collector_addf/collector_addf*
tools/depth*
tools/generate_json_schema/generate_json_schema
tools/generate_json_schema/generate_json_schema.exe
tools/gofumpt*
tools/golangci_lint*
tools/iterate_map/iterate_map*
tools/lint_cached_connectors/lint_cached_connectors*
tools/lint_steps/lint_steps
tools/messages_sorted/messages_sorted
tools/messy_output/messy_output
tools/optioncompare/optioncompare
tools/optioncompare_in_tests/optioncompare_in_tests
tools/print_config_exhaustive/print_config_exhaustive
tools/stats_release/stats_release
tools/structs_sorted/structs_sorted
tools/tests_sorted/tests_sorted
tools/use_equal/use_equal
tools/rta*
tools/scc*
tools/shellcheck*
tools/shfmt*
website/bin/
website/book/
www/
