dist/
git-town.exe
git-town_*
node_modules/
run-that-app.exe
tools/alphavet*
tools/depth*
tools/gofumpt*
tools/golangci_lint*
tools/rta
tools/run-that-app*
tools/scc*
tools/shellcheck*
tools/shfmt*
website/bin/
website/book/
www/
