dist/
git-town.exe
git-town_*
go.work.sum
node_modules/
rta.exe
tools/alphavet*
tools/depth*
tools/gofumpt*
tools/golangci_lint*
tools/stats_release/stats_release
tools/structs_sorted/structs_sorted
tools/rta*
tools/scc*
tools/shellcheck*
tools/shfmt*
website/bin/
website/book/
www/
