actionlint 1.7.7
alphavet 0.1.0
deadcode 0.28.0
depth 1.2.1
dprint 0.48.0
exhaustruct 3.3.0
ireturn 0.3.1
ghokin 3.7.0
gofumpt 0.7.0
golangci-lint 1.63.4
goreleaser 1.26.2
govulncheck 1.1.4
mdbook 0.4.43
mdbook-linkcheck 0.7.7
node 23.6.1
npm 23.6.1
npx 23.6.1
scc 3.4.0
shellcheck system 0.10.0
shfmt 3.10.0
staticcheck 2024.1.1
