sudo: required
dist: trusty

language: go
go: 1.9

install:
  - rvm install 2.4.1
  - make setup

script:
  - make spec

notifications:
  email: false

before_deploy: make build-release
deploy:
  api_key:
    secure: lxzr1xWsRnWueR8JCUGV2+9hOxbb6gL9AVR64HIJ1foIPz8eGUXtQUP1mG/NPOtbDq0Dx+dTVV6W5RxiXzkzBvDkK6ygtNmax9ZkAbQv/zNFaJiwtkXJrzwCBSQfeSH/Go7NwpnsJw+ucZ7oj68G4g99PsX2XNbTTJHzfVWmteg=
  file: "dist/*"
  file_glob: true
  on:
    tags: true
  provider: releases
  skip_cleanup: true
