// Colors
$body-bg = #e7e7e7
$black = #333
$accent = #E8280F


$header-height= 65px


// Breakpoints
$break-lrg = 1200px
$break-med = 990px
$break-sml = 768px

// Container sizes
$container-lrg = 1170px
$container-med = 970px
$container-sml = 750px
