title!= page_titles[current.source] + " | " + site_name
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content!=site_description)
meta(name="keywords", content!=site_keywords)
meta(property="og:title", content!=site_name)
meta(property="og:type", content!=facebook_meta["type"])
meta(property="og:image", content!=facebook_meta["image"])
meta(property="og:description", content!=site_description)
meta(property="twitter:title", content!=site_title)
meta(property="twitter:description", content!=site_description)
