header
  a.logo(href="/")
    img(src='img/git-town-horizontal.svg', alt="Gittown")

  a.github.ion-social-github(href="https://github.com/Originate/git-town") View On GitHub
  nav
    ul
      li
        a(href='index.html') Home
      li
        a(href='install.html') Install
      li
        a(href='the-big-picture.html') The Big Picture
      li
        a(href='tutorial.html') Tutorial

