doctype
html
  head
    != partial("_partials/meta")
    link(rel="stylesheet", href="css/application.css")
    link(href='http://fonts.googleapis.com/css?family=Oleo+Script|Open+Sans:400,300,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")

  body.index
    != partial("_partials/header")

    section.hero
      .container
        .left
          img(src="img/git-town-horizontal-w.svg")
          h2 What is it?
          p Gittown is an open-source Git plugin that makes using Git on the command line even more productive and convenient! It provides additional high-level Git commands that perform typical steps in collaborative software development workflows.

        iframe.intro-video(src="https://drive.google.com/a/originate.com/file/d/0BxFxxboeZOPlcjRiVjV5b0c4Qmc/preview" width="550" height="300" frameborder="0")

    section.tagline
      h2 A better way to Git
      p Git Town adds high-level workflow commands to Git. These commands make it super easy to create, merge, synchronize, and clean up feature branches. They are robust, safe, and well-tested.
    section.commands
      h2
        span.powerful Powerful commands
      p A small sampling of some of the commands that Git Town provides.
      .commands
        .command
          h3 $ git hack
          p Cuts a new up-to-date feature branch off the main branch.
        .command
          h3 $ git sync
          p Updates your current branch with all ongoing changes.
        .command
          h3 $ git pull-request
          p Create a new pull request on GitHub or BitBucket for your current branch.
        .command
          h3 $ git ship
          p Delivers your completed feature branch and removes it.
        a.button.view-more(href="https://github.com/Originate/git-town#commands") View More Commands

    section.faq
      h2 FAQ About Git Town
      h3 Does this force me into any conventions for my branches or commits?
      p Not at all. Git Town doesn’t require or enforce any particular naming convention or branch setup, and works with a wide variety of Git branching models and workflows.

      h3 How is this different from Git Flow?
      p Git Flow is a Git extension that provides specific and opinionated support for the powerful Git branching model with the same name. It doesn’t care too much about how you keep your work in sync with the rest of the team.

      h3 Git Town doesn’t care much about which branching model you use. It makes you and your team more productive and keeps your Git repo clean.
      p It is possible (and encouraged) to use the two tools together.

      h3 Which Git branching models are supported by Git Town?
      p Git Town is so generic that it supports all the branching models that we are aware of, for example GitHub Flow, GitLab Flow, Git Flow, and even working straight off the master branch.

      h3 Is it compatible with my other Git tools?
      p Yes, we try to be good citizens. If you run into any issues with your setup, please let us know!

      .buttons
        a.button.learn-more(href="/") Learn more

    section.town
      img(src="/img/git-town-town.svg")


    script(src="js/application.js")

