$header-nav-height = $header-height - 2px

header
  position: fixed
  z-index: 100
  top: 0
  width: 100%
  display: block
  height: $header-height
  background-color: #fff
  border: 1px solid darken($body-bg, 5)

  a.logo
    float: left
    margin-left: 10px
    margin-top: 10px
    padding-left: 10px

    img
      width: 330px
      position: absolute
      top: -13px

  a.github
    height: $header-nav-height
    line-height: $header-nav-height
    color: #fff
    font-size: 1.0em
    background-color: $accent
    padding: 0 20px
    text-decoration: none
    float: right

    &:before
      margin-right: 5px

  nav
    float: right
    text-align: center
    height: 100%
    min-width: $header-height

    ul
      padding: 0
      list-style-type: none
      float: right
      margin: 0
      margin-left: 0

      li
        float: left
        margin-right: 10px
        margin-top: 0
        margin-bottom: 0

        a
          color: $black
          text-decoration: none
          display: block
          width: auto
          height: $header-nav-height
          line-height: $header-nav-height
          padding: 0 15px
          font-size: 16px
          text-transform: uppercase
          letter-spacing: 2px

          &:hover
            color: #fff
            background-color: $accent
            text-decoration: none
