name: end-to-end tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - run: make cukeall
        shell: 'script -q -e -c "bash {0}"' # this creates /dev/tty needed by BubbleTea
