on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: dprint/check@v2.0
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.43
