name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9]+.*

jobs:
  create-release:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      - run: ./tools/release.ps1 -ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
